server {
  listen 80;
  listen [::]:80;
  server_name localhost;

  location / {
    root /app;
    index index.html;
    try_files $uri $uri/ /index.html =404;
    add_header Cache-Control "no-store, no-cache, must-revalidate";
  }

  location /api/ {
    proxy_pass ${API}/api/;
  }
}
